.shopCar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
}

.toggleBtn{
  display: inline-block;
  line-height: 1.5;
  padding: 4px 15px;
  border: 1px solid transparent;
  background: #fff;
  border-color: #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  &:hover{
    color: #5468ff;
    border-color: #5468ff;
  }
}
.shopList{
  
}
.shopItem{}
